.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #000e36;
    color: white;
  }
  
  .btn {
    margin: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .btn-info:hover {
    background-color: #138496;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  